<p align="right"><b>Tags</b>:
{% if post.tags %}
	{% for tag in post.tags %}
    	<a class="w3-btn w3-white w3-border w3-border-green w3-round-xlarge" href="{{ site.baseurl }}/tags#{{ tag }}" title="View posts tagged with &quot;{{ tag }}&quot;">{{ tag }}</a>
    {% endfor %}
{% endif %}
{% if page.tags %}
	{% for tag in page.tags %}
    	<a align="right" class="w3-btn w3-white w3-border w3-border-green w3-round-xlarge" href="{{ site.baseurl }}/tags#{{ tag }}" title="View posts tagged with &quot;{{ tag }}&quot;">{{ tag }}</a>
    {% endfor %}
{% endif %}
</p>
